/*
* Mobile style for Extore
* Made by Ashari Muhammad Hisbulloh
* 28 November 2017
*/
.mg-5 {
  margin: 5px; }

.mg-top-5 {
  margin-top: 5px; }

.mg-bottom-5 {
  margin-bottom: 5px; }

.mg-left-5 {
  margin-left: 5px; }

.mg-right-5 {
  margin-right: 5px; }

.mg-10 {
  margin: 10px; }

.mg-top-10 {
  margin-top: 10px; }

.mg-bottom-10 {
  margin-bottom: 10px; }

.mg-left-10 {
  margin-left: 10px; }

.mg-right-10 {
  margin-right: 10px; }

.mg-15 {
  margin: 15px; }

.mg-top-15 {
  margin-top: 15px; }

.mg-bottom-15 {
  margin-bottom: 15px; }

.mg-left-15 {
  margin-left: 15px; }

.mg-right-15 {
  margin-right: 15px; }

.mg-20 {
  margin: 20px; }

.mg-top-20 {
  margin-top: 20px; }

.mg-bottom-20 {
  margin-bottom: 20px; }

.mg-left-20 {
  margin-left: 20px; }

.mg-right-20 {
  margin-right: 20px; }

.mg-25 {
  margin: 25px; }

.mg-top-25 {
  margin-top: 25px; }

.mg-bottom-25 {
  margin-bottom: 25px; }

.mg-left-25 {
  margin-left: 25px; }

.mg-right-25 {
  margin-right: 25px; }

.mg-30 {
  margin: 30px; }

.mg-top-30 {
  margin-top: 30px; }

.mg-bottom-30 {
  margin-bottom: 30px; }

.mg-left-30 {
  margin-left: 30px; }

.mg-right-30 {
  margin-right: 30px; }

.mg-35 {
  margin: 35px; }

.mg-top-35 {
  margin-top: 35px; }

.mg-bottom-35 {
  margin-bottom: 35px; }

.mg-left-35 {
  margin-left: 35px; }

.mg-right-35 {
  margin-right: 35px; }

.mg-40 {
  margin: 40px; }

.mg-top-40 {
  margin-top: 40px; }

.mg-bottom-40 {
  margin-bottom: 40px; }

.mg-left-40 {
  margin-left: 40px; }

.mg-right-40 {
  margin-right: 40px; }

.mg-45 {
  margin: 45px; }

.mg-top-45 {
  margin-top: 45px; }

.mg-bottom-45 {
  margin-bottom: 45px; }

.mg-left-45 {
  margin-left: 45px; }

.mg-right-45 {
  margin-right: 45px; }

.mg-50 {
  margin: 50px; }

.mg-top-50 {
  margin-top: 50px; }

.mg-bottom-50 {
  margin-bottom: 50px; }

.mg-left-50 {
  margin-left: 50px; }

.mg-right-50 {
  margin-right: 50px; }

.pd-5 {
  padding: 5px; }

.pd-top-5 {
  padding-top: 5px; }

.pd-bottom-5 {
  padding-bottom: 5px; }

.pd-left-5 {
  padding-left: 5px; }

.pd-right-5 {
  padding-right: 5px; }

.pd-10 {
  padding: 10px; }

.pd-top-10 {
  padding-top: 10px; }

.pd-bottom-10 {
  padding-bottom: 10px; }

.pd-left-10 {
  padding-left: 10px; }

.pd-right-10 {
  padding-right: 10px; }

.pd-15 {
  padding: 15px; }

.pd-top-15 {
  padding-top: 15px; }

.pd-bottom-15 {
  padding-bottom: 15px; }

.pd-left-15 {
  padding-left: 15px; }

.pd-right-15 {
  padding-right: 15px; }

.pd-20 {
  padding: 20px; }

.pd-top-20 {
  padding-top: 20px; }

.pd-bottom-20 {
  padding-bottom: 20px; }

.pd-left-20 {
  padding-left: 20px; }

.pd-right-20 {
  padding-right: 20px; }

.pd-25 {
  padding: 25px; }

.pd-top-25 {
  padding-top: 25px; }

.pd-bottom-25 {
  padding-bottom: 25px; }

.pd-left-25 {
  padding-left: 25px; }

.pd-right-25 {
  padding-right: 25px; }

.pd-30 {
  padding: 30px; }

.pd-top-30 {
  padding-top: 30px; }

.pd-bottom-30 {
  padding-bottom: 30px; }

.pd-left-30 {
  padding-left: 30px; }

.pd-right-30 {
  padding-right: 30px; }

.pd-35 {
  padding: 35px; }

.pd-top-35 {
  padding-top: 35px; }

.pd-bottom-35 {
  padding-bottom: 35px; }

.pd-left-35 {
  padding-left: 35px; }

.pd-right-35 {
  padding-right: 35px; }

.pd-40 {
  padding: 40px; }

.pd-top-40 {
  padding-top: 40px; }

.pd-bottom-40 {
  padding-bottom: 40px; }

.pd-left-40 {
  padding-left: 40px; }

.pd-right-40 {
  padding-right: 40px; }

.pd-45 {
  padding: 45px; }

.pd-top-45 {
  padding-top: 45px; }

.pd-bottom-45 {
  padding-bottom: 45px; }

.pd-left-45 {
  padding-left: 45px; }

.pd-right-45 {
  padding-right: 45px; }

.pd-50 {
  padding: 50px; }

.pd-top-50 {
  padding-top: 50px; }

.pd-bottom-50 {
  padding-bottom: 50px; }

.pd-left-50 {
  padding-left: 50px; }

.pd-right-50 {
  padding-right: 50px; }

@media screen and (max-width: 920px) {
  .container, .container-sm {
    padding: 0 15px;
    width: 100%; }
  #navbar .navbar li a {
    padding: 2px 10px; }
  .cover .overlay-cover .wrapper {
    padding: 0 20px;
    width: 100%; }
  .offers-wrapper {
    width: 100%; }
    .offers-wrapper .offers-item .offer-desc .price a {
      padding: 10px 15px; }
  #separator .our-hotel-wrapper .our-hotel-item {
    min-height: unset;
    padding-bottom: 5px; } }

@media screen and (max-width: 860px) {
  .container, .container-sm {
    padding: 0 15px;
    width: 100%; }
  .cover .overlay-cover {
    padding: 0 10px;
    width: 100%; }
    .cover .overlay-cover .wrapper {
      width: 100%; }
      .cover .overlay-cover .wrapper h1 {
        font-size: 1.8em; }
      .cover .overlay-cover .wrapper p {
        font-size: .9em; }
  #navbar {
    padding: 0;
    position: relative; }
    #navbar #navbar-controller {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 20px 0 15px; }
      #navbar #navbar-controller:active + .navbar, #navbar #navbar-controller:focus + .navbar {
        height: auto;
        padding-bottom: 10px; }
    #navbar #navbar-toggle {
      cursor: pointer;
      display: block; }
    #navbar .flex-inline {
      display: block; }
    #navbar .navbar {
      background-color: #fff;
      height: 0;
      left: 0;
      margin: 0;
      overflow: hidden;
      padding: 0 20px;
      position: absolute;
      width: 100%;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease; }
      #navbar .navbar li {
        margin: 3px 0; }
        #navbar .navbar li a {
          padding: 3px 0; }
          #navbar .navbar li a:after {
            content: '';
            display: none; }
      #navbar .navbar.is-visible {
        height: auto;
        padding-bottom: 10px; }
  .speciality-wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
  .offers-wrapper {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    .offers-wrapper .offers-item {
      margin: 0; }
  #separator .our-hotel-wrapper {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr); }
    #separator .our-hotel-wrapper .our-hotel-item {
      margin: 0;
      min-height: unset;
      padding-bottom: 5px; }
  .client-wrapper {
    align-items: stretch; }
  .work-wrapper {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(2, 1fr); }
  .footer .container-sm {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(2, 1fr); }
    .footer .container-sm .footer-wrapper {
      border: none; }
      .footer .container-sm .footer-wrapper:last-child {
        border-left: solid 1px rgba(255, 255, 255, 0.2); }
      .footer .container-sm .footer-wrapper.big {
        border: none;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-bottom: 30px; } }

@media screen and (max-width: 480px) {
  #topnav .topnav.left {
    display: none; }
  #topnav .topnav.right {
    display: block; }
  .speciality-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .speciality-wrapper .speciality-item {
      margin: 10px 0;
      min-height: 150px; }
      .speciality-wrapper .speciality-item:first-child {
        margin-top: 0; }
      .speciality-wrapper .speciality-item:last-child {
        margin-bottom: 0; }
  .offers-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    width: 100%; }
    .offers-wrapper .offers-item {
      margin: 10px 0; }
      .offers-wrapper .offers-item:first-child {
        margin-top: 0; }
      .offers-wrapper .offers-item:last-child {
        margin-bottom: 0; }
  #separator .our-hotel-wrapper {
    display: flex;
    flex-direction: column; }
    #separator .our-hotel-wrapper .our-hotel-item {
      height: auto;
      margin: 10px 0;
      min-height: unset; }
      #separator .our-hotel-wrapper .our-hotel-item:first-child {
        margin-top: 0; }
      #separator .our-hotel-wrapper .our-hotel-item:last-child {
        margin-bottom: 0; }
  .client-wrapper {
    flex-direction: column; }
    .client-wrapper .client-card {
      min-height: unset;
      margin: 0; }
      .client-wrapper .client-card:nth-child(even) {
        margin-top: 75px; }
  .work-wrapper {
    display: flex;
    flex-direction: column; }
  .footer .container-sm {
    display: flex;
    align-items: unset;
    flex-direction: column; }
    .footer .container-sm .footer-wrapper {
      border: none !important;
      flex: 1;
      text-align: center;
      width: 100%; }
      .footer .container-sm .footer-wrapper:nth-child(2) {
        display: none; }
      .footer .container-sm .footer-wrapper:last-child {
        border: none; }
  .footer ul.social-icons {
    justify-content: center; }
  .footer hr.footer-separator {
    margin: 30px auto; }
  .footer .form-subscribe .subscribe-input {
    display: block;
    width: 100%; }
  .footer .form-subscribe .subscribe-submit {
    margin-top: 10px;
    width: auto; }
  .footer ul.links.contact {
    margin: 10px auto; }
    .footer ul.links.contact li span {
      left: unset; }
  .copyright {
    padding-top: 15px; }
    .copyright .container-sm {
      flex-direction: column-reverse; } }

/*# sourceMappingURL=mobile.css.map */