/*
* Extore - responsive training
* Ashari Muhammad Hisbulloh
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.mg-5 {
  margin: 5px; }

.mg-top-5 {
  margin-top: 5px; }

.mg-bottom-5 {
  margin-bottom: 5px; }

.mg-left-5 {
  margin-left: 5px; }

.mg-right-5 {
  margin-right: 5px; }

.mg-10 {
  margin: 10px; }

.mg-top-10 {
  margin-top: 10px; }

.mg-bottom-10 {
  margin-bottom: 10px; }

.mg-left-10 {
  margin-left: 10px; }

.mg-right-10 {
  margin-right: 10px; }

.mg-15 {
  margin: 15px; }

.mg-top-15 {
  margin-top: 15px; }

.mg-bottom-15 {
  margin-bottom: 15px; }

.mg-left-15 {
  margin-left: 15px; }

.mg-right-15 {
  margin-right: 15px; }

.mg-20 {
  margin: 20px; }

.mg-top-20 {
  margin-top: 20px; }

.mg-bottom-20 {
  margin-bottom: 20px; }

.mg-left-20 {
  margin-left: 20px; }

.mg-right-20 {
  margin-right: 20px; }

.mg-25 {
  margin: 25px; }

.mg-top-25 {
  margin-top: 25px; }

.mg-bottom-25 {
  margin-bottom: 25px; }

.mg-left-25 {
  margin-left: 25px; }

.mg-right-25 {
  margin-right: 25px; }

.mg-30 {
  margin: 30px; }

.mg-top-30 {
  margin-top: 30px; }

.mg-bottom-30 {
  margin-bottom: 30px; }

.mg-left-30 {
  margin-left: 30px; }

.mg-right-30 {
  margin-right: 30px; }

.mg-35 {
  margin: 35px; }

.mg-top-35 {
  margin-top: 35px; }

.mg-bottom-35 {
  margin-bottom: 35px; }

.mg-left-35 {
  margin-left: 35px; }

.mg-right-35 {
  margin-right: 35px; }

.mg-40 {
  margin: 40px; }

.mg-top-40 {
  margin-top: 40px; }

.mg-bottom-40 {
  margin-bottom: 40px; }

.mg-left-40 {
  margin-left: 40px; }

.mg-right-40 {
  margin-right: 40px; }

.mg-45 {
  margin: 45px; }

.mg-top-45 {
  margin-top: 45px; }

.mg-bottom-45 {
  margin-bottom: 45px; }

.mg-left-45 {
  margin-left: 45px; }

.mg-right-45 {
  margin-right: 45px; }

.mg-50 {
  margin: 50px; }

.mg-top-50 {
  margin-top: 50px; }

.mg-bottom-50 {
  margin-bottom: 50px; }

.mg-left-50 {
  margin-left: 50px; }

.mg-right-50 {
  margin-right: 50px; }

.pd-5 {
  padding: 5px; }

.pd-top-5 {
  padding-top: 5px; }

.pd-bottom-5 {
  padding-bottom: 5px; }

.pd-left-5 {
  padding-left: 5px; }

.pd-right-5 {
  padding-right: 5px; }

.pd-10 {
  padding: 10px; }

.pd-top-10 {
  padding-top: 10px; }

.pd-bottom-10 {
  padding-bottom: 10px; }

.pd-left-10 {
  padding-left: 10px; }

.pd-right-10 {
  padding-right: 10px; }

.pd-15 {
  padding: 15px; }

.pd-top-15 {
  padding-top: 15px; }

.pd-bottom-15 {
  padding-bottom: 15px; }

.pd-left-15 {
  padding-left: 15px; }

.pd-right-15 {
  padding-right: 15px; }

.pd-20 {
  padding: 20px; }

.pd-top-20 {
  padding-top: 20px; }

.pd-bottom-20 {
  padding-bottom: 20px; }

.pd-left-20 {
  padding-left: 20px; }

.pd-right-20 {
  padding-right: 20px; }

.pd-25 {
  padding: 25px; }

.pd-top-25 {
  padding-top: 25px; }

.pd-bottom-25 {
  padding-bottom: 25px; }

.pd-left-25 {
  padding-left: 25px; }

.pd-right-25 {
  padding-right: 25px; }

.pd-30 {
  padding: 30px; }

.pd-top-30 {
  padding-top: 30px; }

.pd-bottom-30 {
  padding-bottom: 30px; }

.pd-left-30 {
  padding-left: 30px; }

.pd-right-30 {
  padding-right: 30px; }

.pd-35 {
  padding: 35px; }

.pd-top-35 {
  padding-top: 35px; }

.pd-bottom-35 {
  padding-bottom: 35px; }

.pd-left-35 {
  padding-left: 35px; }

.pd-right-35 {
  padding-right: 35px; }

.pd-40 {
  padding: 40px; }

.pd-top-40 {
  padding-top: 40px; }

.pd-bottom-40 {
  padding-bottom: 40px; }

.pd-left-40 {
  padding-left: 40px; }

.pd-right-40 {
  padding-right: 40px; }

.pd-45 {
  padding: 45px; }

.pd-top-45 {
  padding-top: 45px; }

.pd-bottom-45 {
  padding-bottom: 45px; }

.pd-left-45 {
  padding-left: 45px; }

.pd-right-45 {
  padding-right: 45px; }

.pd-50 {
  padding: 50px; }

.pd-top-50 {
  padding-top: 50px; }

.pd-bottom-50 {
  padding-bottom: 50px; }

.pd-left-50 {
  padding-left: 50px; }

.pd-right-50 {
  padding-right: 50px; }

* {
  box-sizing: border-box; }

html, body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0; }

.container {
  margin: auto;
  position: relative;
  width: 1256px;
  z-index: 2; }

.container-sm {
  margin: auto;
  position: relative;
  width: 1080px;
  z-index: 2; }

.flex-inline {
  align-items: center;
  display: flex;
  flex-direction: row; }
  .flex-inline.center {
    justify-content: center; }
  .flex-inline.flex-start {
    justify-content: flex-start; }
  .flex-inline.flex-end {
    justify-content: flex-end; }
  .flex-inline.space-between {
    justify-content: space-between; }
  .flex-inline.space-around {
    justify-content: space-around; }

/* Navigation bar */
#topnav {
  background-color: #093d77;
  overflow: hidden;
  padding: 8px 0; }
  #topnav .topnav {
    list-style: none;
    margin: 0;
    padding: 0; }
    #topnav .topnav li {
      display: inline-block;
      padding: 8px 0; }
      #topnav .topnav li a {
        color: #fff;
        font-size: .8em;
        padding: 5px 0;
        text-decoration: none; }
        #topnav .topnav li a i {
          margin-right: 10px; }
      #topnav .topnav li:first-child a {
        padding-right: 20px;
        border-right: solid 1px rgba(255, 255, 255, 0.5); }
      #topnav .topnav li:last-child a {
        padding-left: 20px; }
    #topnav .topnav.left {
      float: left; }
    #topnav .topnav.right {
      float: right; }

#navbar {
  background: #fff;
  padding: 10px 0; }
  #navbar #navbar-toggle {
    display: none; }
  #navbar .navbar {
    list-style: none;
    margin-right: -15px; }
    #navbar .navbar li {
      font-size: .85em; }
      #navbar .navbar li a {
        color: #313131;
        padding: 2px 15px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease; }
        #navbar .navbar li a:after {
          content: '';
          background-color: #093d77;
          bottom: -10px;
          height: 2px;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          width: 0%;
          transition: all 0.25s ease;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease; }
        #navbar .navbar li a:hover {
          color: #093d77; }
          #navbar .navbar li a:hover:after {
            width: 100%; }

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%; }
  .cover .overlay-cover {
    align-items: center;
    background-color: rgba(9, 61, 119, 0.65);
    display: flex;
    flex: 1;
    justify-content: center; }
    .cover .overlay-cover .wrapper {
      color: #fff;
      text-align: center;
      width: 1000px; }

.btn {
  border-radius: 0;
  color: #fff;
  font-size: 1.1em;
  min-width: 150px;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease; }
  .btn.btn-orange {
    background-color: #f6a716;
    padding: 15px 65px; }

.section-content {
  padding-top: 50px;
  padding-bottom: 50px; }
  .section-content h2.section-title, .section-content p.section-subtitle {
    text-align: center; }
    .section-content h2.section-title.wh, .section-content p.section-subtitle.wh {
      color: #fff; }
  .section-content h2.section-title {
    font-weight: 700;
    margin-bottom: 0; }
  .section-content p.section-subtitle {
    color: #313131;
    font-size: .85em;
    margin: 10px auto 30px;
    max-width: 800px; }
  .section-content.gr {
    background-color: #f7f7f7; }
  .section-content.wh {
    background-color: #fff; }

.speciality-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(135px, auto);
  height: auto;
  margin: auto;
  width: 900px; }
  .speciality-wrapper .speciality-item {
    background: #fff;
    box-shadow: 1px 3px 5px #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .speciality-wrapper .speciality-item p {
      font-size: .85em; }
    .speciality-wrapper .speciality-item img {
      margin: auto;
      height: 55px;
      margin-top: 25px;
      width: auto; }

.offers-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 85%; }
  .offers-wrapper .offers-item {
    background-color: #f7f7f7;
    box-shadow: 3px 3px 10px #ccc;
    flex: 1;
    margin: 0 15px;
    min-height: 200px; }
    .offers-wrapper .offers-item img {
      width: 100%; }
    .offers-wrapper .offers-item .offer-desc {
      margin: 0;
      padding-bottom: 15px; }
      .offers-wrapper .offers-item .offer-desc h4 {
        font-size: .9em;
        font-weight: 700;
        margin: 0;
        padding: 10px 15px 15px; }
      .offers-wrapper .offers-item .offer-desc .price {
        align-items: center;
        display: flex;
        justify-content: space-between; }
        .offers-wrapper .offers-item .offer-desc .price span {
          color: #f47526;
          font-size: 1.25em;
          font-weight: 500;
          padding: 0 15px; }
        .offers-wrapper .offers-item .offer-desc .price a {
          background-color: #fff;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          box-shadow: -2px 3px 5px #f0f0f0;
          color: #052c55;
          font-size: .9em;
          padding: 12px 25px;
          text-decoration: none;
          transition: all 0.25s ease;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease; }
          .offers-wrapper .offers-item .offer-desc .price a i {
            margin-left: 15px; }
          .offers-wrapper .offers-item .offer-desc .price a:hover {
            background: #052c55;
            color: #fff; }

#separator {
  background-image: url("../img/hotel-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #separator .overlay-separator {
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  #separator .our-hotel-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #separator .our-hotel-wrapper .our-hotel-item {
      background: #f7f7f7;
      border-radius: 10px;
      flex: 1;
      margin: 0 15px;
      min-height: 200px; }
      #separator .our-hotel-wrapper .our-hotel-item a {
        color: inherit;
        text-decoration: none; }
      #separator .our-hotel-wrapper .our-hotel-item .our-hotel-img {
        position: relative;
        width: 100%; }
        #separator .our-hotel-wrapper .our-hotel-item .our-hotel-img .our-hotel-overlay {
          align-items: center;
          background: rgba(9, 61, 119, 0.35);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          display: flex;
          height: calc(100% - 5px);
          justify-content: center;
          padding: 0;
          position: absolute;
          width: 100%; }
          #separator .our-hotel-wrapper .our-hotel-item .our-hotel-img .our-hotel-overlay i {
            color: #fff;
            font-size: 3em;
            opacity: .85; }
        #separator .our-hotel-wrapper .our-hotel-item .our-hotel-img img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          margin: 0;
          width: 100%; }
      #separator .our-hotel-wrapper .our-hotel-item .our-hotel-desc {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px; }
        #separator .our-hotel-wrapper .our-hotel-item .our-hotel-desc p {
          color: inherit;
          font-size: .9em;
          margin: 0;
          padding: 0;
          text-decoration: none; }
          #separator .our-hotel-wrapper .our-hotel-item .our-hotel-desc p.duration {
            font-size: .8em; }

.client-wrapper {
  padding-top: 75px; }
  .client-wrapper .client-card {
    align-items: center;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 1px 1px 7px #ccc;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    min-height: 175px;
    position: relative; }
    .client-wrapper .client-card img {
      border: solid 3px #fff;
      border-radius: 50%;
      position: absolute;
      top: -35%;
      width: 100px; }
    .client-wrapper .client-card p.client-name {
      color: #f47526;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 0; }
    .client-wrapper .client-card p.client-msg {
      color: #313131;
      font-size: .9em;
      font-style: italic;
      text-align: center;
      width: 90%; }

.work-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%; }
  .work-wrapper .work-item {
    align-items: center;
    display: flex;
    flex: 1;
    height: 185px;
    justify-content: center; }
    .work-wrapper .work-item:nth-child(even) {
      background-color: #f7f7f7; }
    .work-wrapper .work-item:nth-child(odd) {
      background-color: #eee; }

.footer {
  background-color: #093d77;
  color: #fff;
  padding: 40px 0;
  width: 100%; }
  .footer .container-sm {
    align-items: center;
    display: flex;
    justify-content: flex-start; }
  .footer .footer-wrapper {
    flex: 1;
    padding: 10px 20px;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
    min-height: 250px; }
    .footer .footer-wrapper:first-child {
      border: none; }
    .footer .footer-wrapper.big {
      flex: 2; }
    .footer .footer-wrapper h4 {
      font-weight: 600;
      margin: 0;
      padding: 0; }
  .footer ul.social-icons {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer ul.social-icons li {
      margin: 0 3px; }
      .footer ul.social-icons li:first-child {
        margin-left: 0; }
      .footer ul.social-icons li:last-child {
        margin-right: 0; }
      .footer ul.social-icons li a {
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        font-size: 1.15em;
        padding: 5px;
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease; }
        .footer ul.social-icons li a:hover {
          background: #052c55; }
        .footer ul.social-icons li a i {
          height: 25px;
          left: 0;
          text-align: center;
          top: 0;
          width: 25px; }
  .footer ul.links {
    list-style: none;
    margin: 15px 0 0;
    padding: 0; }
    .footer ul.links li {
      margin: 5px 0; }
      .footer ul.links li:first-child {
        margin-top: 0; }
      .footer ul.links li:last-child {
        margin-bottom: 0; }
      .footer ul.links li a {
        color: #fff;
        font-size: .8em;
        text-decoration: none; }
        .footer ul.links li a:hover {
          text-decoration: underline; }
    .footer ul.links.contact {
      position: relative;
      width: 80%; }
      .footer ul.links.contact li p, .footer ul.links.contact li span {
        display: inline-block;
        margin: 0;
        padding: 0; }
      .footer ul.links.contact li span {
        left: 0px;
        position: absolute; }
      .footer ul.links.contact li p {
        font-size: .8em;
        margin: 2px 0;
        padding-left: 30px; }
        .footer ul.links.contact li p a {
          font-size: 1em;
          text-decoration: underline; }
  .footer hr.footer-separator {
    border: none;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    margin: 30px 0;
    width: 80%; }
  .footer .form-subscribe {
    margin-top: 25px;
    width: 100%; }
    .footer .form-subscribe .subscribe-input, .footer .form-subscribe .subscribe-submit {
      padding: 12px 15px; }
    .footer .form-subscribe .subscribe-input {
      background: transparent;
      border: solid 1px rgba(255, 255, 255, 0.2);
      width: 74%; }
    .footer .form-subscribe .subscribe-submit {
      background: #f6a716;
      border: solid 1px #f6a716;
      color: #fff;
      width: 25%; }

.copyright {
  background-color: #03254b;
  color: #fff;
  font-size: .8em;
  padding: 5px 0;
  width: 100%; }
  .copyright ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .copyright ul li {
      margin: 0 15px; }
      .copyright ul li:first-child {
        margin-left: 0; }
      .copyright ul li:last-child {
        margin-right: 0; }
      .copyright ul li a {
        color: #fff;
        text-decoration: none; }
        .copyright ul li a:hover {
          text-decoration: underline; }

/*# sourceMappingURL=style.css.map */