*{
    box-sizing: border-box;
}
html, body{
    background: $white;
    font-family: 'Open Sans', sans-serif;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
}
.container{
    margin: auto;
    position: relative;
    width: 1256px;
    z-index: 2;
}
.container-sm{
    margin: auto; 
    position: relative;
    width: 1080px;
    z-index: 2;
}

// Flex style
.flex-inline{
    align-items: center;
    display: flex;
    flex-direction: row;
    
    &.center{
        justify-content: center;
    }
    &.flex-start{
        justify-content: flex-start;
    }
    &.flex-end{
        justify-content: flex-end;
    }
    &.space-between{
        justify-content: space-between;
    }
    &.space-around{
        justify-content: space-around;
    }
}

/* Navigation bar */
#topnav{
    background-color: $mainBlue;
    overflow: hidden;
    padding: 8px 0;
    
    .topnav{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            display: inline-block;
            padding: 8px 0;
            
            a{
                color: $white;
                font-size: .8em;
                padding: 5px 0;
                text-decoration: none;
                
                i {
                    margin-right: 10px;
                }
            }
            
            &:first-child a{
                padding-right: 20px;
                border-right: solid 1px rgba(255,255, 255, 0.5);
            }
            &:last-child a{
                padding-left: 20px;
            }
        }
        
        &.left{
            float: left;
        }
        
        &.right{
            float: right;
        }
    }
}
#navbar{
    background: $white;
    padding: 10px 0;

    #navbar-toggle{
        display: none;
    }
    
    .navbar{
        list-style: none;
        margin-right: -15px;
        
        li {
            font-size: .85em;
            
            a {
                color: $darkGrey;
                padding: 2px 15px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                
                @include transition(0.25);
                
                &:after{
                    content: '';
                    
                    background-color: $blue;
                    bottom: -10px;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    width: 0%;
                    @include transition(0.25);
                }
                
                &:hover{
                    color: $blue;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    height: 100vh;
    width: 100%;
    
    .overlay-cover{
        align-items: center;
        background-color: rgba(9, 61, 119, 0.65);
        display: flex;
        flex: 1 ;
        justify-content: center;
        
        .wrapper{
            color: $white;
            text-align: center;
            width: 1000px;
        }
    }
}
.btn{
    border-radius: 0;
    color: $white;
    font-size: 1.1em;
    min-width: 150px;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    
    @include transition(0.3);
    
    &.btn-orange{
        background-color: $lightOrange;
        padding: 15px 65px;
    }
}

.section-content{
    padding-top: 50px;
    padding-bottom: 50px;
    
    h2.section-title, p.section-subtitle{
        text-align: center;
        
        &.wh{
            color: $white;
        }
    }
    h2.section-title{
        font-weight: 700;
        margin-bottom: 0;
    }
    p.section-subtitle{
        color : $darkGrey;
        font-size: .85em;
        margin: 10px auto 30px;
        max-width: 800px;
    }
    
    &.gr{
        background-color: $lightGrey;
    }
    &.wh{
        background-color: $white;
    }
}
.speciality-wrapper{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(135px, auto);
    height: auto;
    margin: auto;
    width: 900px;
    
    .speciality-item{
        background: $white;
        box-shadow: 1px 3px 5px #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        p{
            font-size: .85em;
        }
        
        img{
            margin: auto;
            height: 55px;
            margin-top: 25px;
            width: auto;
        }
    }
}
.offers-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 85%;
    
    .offers-item{
        background-color: $lightGrey;
        box-shadow: 3px 3px 10px #ccc;
        flex: 1;
        margin: 0 15px;
        min-height: 200px;
        
        img{
            width: 100%;
        }
        
        .offer-desc{
            margin: 0;
            padding-bottom: 15px;
            h4{
                font-size: .9em;
                font-weight: 700;
                margin: 0;
                padding: 10px 15px 15px;
            }
            
            .price{
                align-items: center;
                display: flex;
                justify-content: space-between;
                
                span{
                    color: $orange;
                    font-size: 1.25em;
                    font-weight: 500;
                    padding: 0 15px;
                }
                a{
                    background-color: $white;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    box-shadow: -2px 3px 5px #f0f0f0;
                    color: $lighterBlue;
                    font-size: .9em;
                    padding: 12px 25px;
                    text-decoration: none;
                    
                    @include transition(0.25);
                    
                    i{
                        margin-left: 15px ;
                    }
                    
                    &:hover{
                        background: $lighterBlue;
                        color: $white;
                    }
                }
            }
        }
    }
}
#separator{
    background-image: url('../img/hotel-2.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .overlay-separator{
        background: rgba(0,0,0,.75);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    .our-hotel-wrapper{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        .our-hotel-item{
            background: $lightGrey;
            border-radius: 10px;
            flex: 1;
            margin: 0 15px;
            min-height: 200px;
            
            a{
                color: inherit;
                text-decoration: none;
            }
            
            .our-hotel-img{
                position: relative;
                width: 100%;
                
                .our-hotel-overlay{
                    align-items: center; 
                    background: rgba(9, 61, 119, 0.35);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    display: flex;
                    height: calc(100% - 5px);
                    justify-content: center;
                    padding: 0;
                    position: absolute;
                    width: 100%;
                    
                    i{
                        color: $white ;
                        font-size: 3em;
                        opacity: .85;
                    }
                }
                
                img{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin: 0;
                    width: 100%;
                }
            }
            
            .our-hotel-desc{
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;
                
                p{
                    color: inherit;
                    font-size: .9em;
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    
                    &.duration{
                        font-size: .8em;
                    }
                }
            }
        }
    }
}
.client-wrapper{
    padding-top: 75px;
    .client-card{
        align-items: center;
        background: $lightGrey;
        border-radius: 10px;
        box-shadow: 1px 1px 7px #ccc;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin: 0 15px;
        min-height: 175px;
        position: relative;
//        width: 50%;
        
        img{
            border: solid 3px $white;
            border-radius: 50%;
            position: absolute;
            top: -35%;
            width: 100px;
        }
        
        p.client-name{
            color: $orange;
            font-weight: 700;
            margin-top: 50px;
            margin-bottom: 0;
        }
        p.client-msg{
            color: $darkGrey;
            font-size: .9em;
            font-style: italic;
            text-align: center;
            width: 90%;
        }
    }
}
.work-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    
    .work-item{
        align-items: center;
        display: flex;
        flex: 1;
        height: 185px;
        justify-content: center;
        
        &:nth-child(even){
            background-color: $lightGrey;
        }
        
        &:nth-child(odd){
            background-color: $grey;
        }
    }
}

.footer{
    background-color: $blue;
    color: $white;
    padding: 40px 0;
    width: 100%;
    
    .container-sm{
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    
    .footer-wrapper{
        flex: 1;
        padding: 10px 20px;
        border-left: solid 1px rgba(255,255,255,.2);
        min-height: 250px;
        
        &:first-child{
            border: none;
        }
        
        &.big{
            flex: 2 ;
        }
        
        h4{
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
    }
    
    ul.social-icons{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0 3px;
            
            &:first-child{
                margin-left: 0;
            }
            
            &:last-child{
                margin-right: 0;
            }
            
            a{
                background: rgba(255,255,255,.2);
                color: $white;
                font-size: 1.15em;
                padding: 5px;
                
                @include transition(0.25);
                
                &:hover{
                    background: $lighterBlue;
                }
                
                i{
                    height: 25px;
                    left: 0;
                    text-align: center;
                    top: 0;
                    width: 25px;
                }
            }
        }
    }
    
    ul.links{
        list-style: none;
        margin: 15px 0 0;
        padding: 0;
        
        li {
            margin: 5px 0;
            
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
            
            a {
                color: $white;
                font-size: .8em;
                text-decoration: none;
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        
        &.contact{
            position: relative;
            width: 80%;
            
            li {    
                
                p,span{
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                }
                
                span{
                    left: 0px;
                    position: absolute;
                }
                
                p{
                    font-size: .8em;
                    margin: 2px 0;
                    padding-left: 30px;
                    
                    a{
                        font-size: 1em;
                        text-decoration: underline;
                    }
                }
                
            }
        }
    }
    
    hr.footer-separator{
        border : none;
        border-top: solid 1px rgba(255,255,255,.2);
        margin: 30px 0;
        width: 80%;
    }
    
    .form-subscribe{
        margin-top: 25px;
        width: 100%;
        
        .subscribe-input, .subscribe-submit{
            padding: 12px 15px;
        }
        
        .subscribe-input{
            background: transparent;
            border: solid 1px rgba(255,255,255,.2);
            width: 74%;
        }
        .subscribe-submit{
            background: $lightOrange;
            border: solid 1px $lightOrange;
            color: $white;
            width: 25%;
        }
    }
}
.copyright{
    background-color: $darkBlue;
    color: $white;
    font-size: .8em;
    padding: 5px 0;
    width: 100%;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            margin: 0 15px;
            
            &:first-child{
                margin-left: 0;
            }
            
            &:last-child{
                margin-right: 0;
            }
            
            a{
                color: $white;
                text-decoration: none;
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}