@mixin transition($s){
    transition: all $s*1s ease;
    -webkit-transition: all $s*1s ease;
    -moz-transition: all $s*1s ease;
    -o-transition: all $s*1s ease;
    -ms-transition: all $s*1s ease;
}

@for $i from 1 through 10{
    .mg-#{$i*5}{
        margin: $i*5px ;
    }
    .mg-top-#{$i*5}{
        margin-top: $i*5px ;
    }
    .mg-bottom-#{$i*5}{
        margin-bottom: $i*5px ;
    }
    .mg-left-#{$i*5}{
        margin-left: $i*5px ;
    }
    .mg-right-#{$i*5}{
        margin-right: $i*5px ;
    }
}
@for $i from 1 through 10{
    .pd-#{$i*5}{
        padding: $i*5px ;
    }
    .pd-top-#{$i*5}{
        padding-top: $i*5px ;
    }
    .pd-bottom-#{$i*5}{
        padding-bottom: $i*5px ;
    }
    .pd-left-#{$i*5}{
        padding-left: $i*5px ;
    }
    .pd-right-#{$i*5}{
        padding-right: $i*5px ;
    }
}