/*
* Mobile style for Extore
* Made by Ashari Muhammad Hisbulloh
* 28 November 2017
*/ 

@import "_mixins";

// ======== COLORS ======== //

$mainBlue: #093d77;
$lighterBlue: #052c55;
$blue: #093d77;
$darkBlue: #03254b;
$white: #fff;
$lightGrey: #f7f7f7 ;
$grey: #eee ;
$darkGrey: #313131;
$black: #000;
$lightOrange: #f6a716;
$orange: #f47526;


// ======== STYLE ======== //

@media screen and (max-width: 920px){
    .container, .container-sm{
        padding: 0 15px;
        width: 100%;
    }

    #navbar{
        .navbar{
            li {
                a {
                    padding: 2px 10px;
                }
            }
        }
    }

    .cover{
        .overlay-cover{
            .wrapper{
                padding: 0 20px;
                width: 100%;
            }
        }
    }

    .offers-wrapper{
        width: 100%;

        .offers-item{
            .offer-desc{
                .price{
                    a{
                        padding: 10px 15px;
                    }
                }
            }
        }
    }

    #separator{
        .our-hotel-wrapper{
            .our-hotel-item{
                min-height: unset;
                padding-bottom: 5px;
            }
        }
    }
}

@media screen and (max-width: 860px){
    .container, .container-sm{
        padding: 0 15px;
        width: 100%;
    }

    .cover{
        .overlay-cover{
            padding: 0 10px;
            width: 100%;

            .wrapper{
                width: 100%;

                h1{
                    font-size: 1.8em;
                }

                p{
                    font-size: .9em;
                }
            }
        }
    }

    #navbar{
        padding: 0;
        position: relative;

        #navbar-controller{
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 20px 0 15px;

            &:active + .navbar, &:focus + .navbar{
                height: auto;
                padding-bottom: 10px;
            }
        }

        #navbar-toggle{
            cursor: pointer;
            display: block;
        }

        .flex-inline{
            display: block;
        }

        .navbar{
            background-color: $white;
            height: 0;
            left: 0;
            margin: 0;
            overflow: hidden;
            padding: 0 20px;
            position: absolute;
            width: 100%;

            @include transition(0.3);

            li {
                margin: 3px 0;
                a {
                    padding: 3px 0;

                    &:after{
                        content: '';
                        display: none;
                    }
                }
            }

            &.is-visible{
                height: auto;
                padding-bottom: 10px ;
            }
        }
    }

    .speciality-wrapper{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .offers-wrapper{
        display: grid;
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        .offers-item{
            margin: 0;
        }
    }

    #separator{
        .our-hotel-wrapper{
            display: grid;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);

            .our-hotel-item{
                margin: 0;
                min-height: unset;
                padding-bottom: 5px;
            }
        }
    }

    .client-wrapper{
        align-items: stretch;
    }

    .work-wrapper{
        display: grid;
        grid-auto-rows: minmax(50px, auto);
        grid-template-columns: repeat(2,1fr);
    }

    .footer{
        .container-sm{
            display: grid;
            grid-auto-rows: minmax(200px, auto);
            grid-template-columns: repeat(2,1fr);

            .footer-wrapper{
                border: none ;

                &:last-child{
                    border-left: solid 1px rgba(255,255,255,.2);
                }
                &.big{
                    border: none;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding-bottom: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    #topnav{
        .topnav{
            &.left{
                display: none;
            }
            &.right{
                display: block;
            }
        }
    }

    .speciality-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;

        .speciality-item{
            margin: 10px 0;
            min-height: 150px;

            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .offers-wrapper{
        display: flex ;
        flex-direction: column;
        justify-content: unset;
        width: 100%;

        .offers-item{
            margin: 10px 0;

            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    #separator{
        .our-hotel-wrapper{
            display: flex;
            flex-direction: column;

            .our-hotel-item{
                height: auto;
                margin: 10px 0;
                min-height: unset;

                &:first-child{
                    margin-top: 0;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    .client-wrapper{
        flex-direction: column;

        .client-card{
            min-height: unset;
            margin: 0;
            
            &:nth-child(even){
                margin-top: 75px ;
            }
        }
    }

    .work-wrapper{
        display: flex;
        flex-direction: column;
    }

    .footer{
        .container-sm{
            display: flex;
            align-items: unset;
            flex-direction: column;

            .footer-wrapper{
                border: none !important;
                flex: 1;
                text-align: center;
                width: 100%;

                &:nth-child(2){
                    display: none;
                }
                &:last-child{
                    border: none;
                }
            }
        }
        ul.social-icons{
            justify-content: center;
        }
        hr.footer-separator{
            margin: 30px auto;
        }
        .form-subscribe{
            .subscribe-input{
                display: block;
                width: 100%;
            }
            .subscribe-submit{
                margin-top: 10px;
                width: auto;
            }
        }
        ul.links{
            &.contact{
                margin: 10px auto;
                li {
                    span {
                        left: unset;
                    }
                }
            }
        }
    }

    .copyright{
        padding-top: 15px;

        .container-sm{
            flex-direction: column-reverse;
        }
    }
}