/*
* Extore - responsive training
* Ashari Muhammad Hisbulloh
*/


// ======== COLORS ======== //

$mainBlue: #093d77;
$lighterBlue: #052c55;
$blue: #093d77;
$darkBlue: #03254b;
$white: #fff;
$lightGrey: #f7f7f7 ;
$grey: #eee ;
$darkGrey: #313131;
$black: #000;
$lightOrange: #f6a716;
$orange: #f47526;

@import "_fonts";
@import "_mixins";
@import "_base";